.profile {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:767px) {
  .profile {
    flex-direction: column;
    margin-top: 38px;
    gap: 36px;
    max-width: 282px;
  }
}