.profile {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    gap: 0;
    max-width: 282px;
  }
}