.profile__vocation {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width:967px) {
  .profile__vocation {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width:767px) {
  .profile__vocation {
    justify-self: center;
  }
}