.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 46px auto;
  row-gap: 8px;
  column-gap: 18px;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .profile__info {
    row-gap: 14px;
    column-gap: 10px;
    grid-template-columns: 1fr 18px;
    grid-template-rows: auto;
    padding: 0 19px;
    width: 100%;
    margin-top: 26px;
  }
}